*{
    box-sizing: border-box;

}
/* background image set up*/
body{
    background-image: url(../img/Background.jpg);
    background-size:cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
 
}


/* used to reach all grid items*/
.grid-container div{
    height:auto;
	text-align: center;
    background-size: cover;
    background-attachment: fixed;
	/*border: 1px solid black;*/
}

/* grid format for all web pages*/
.grid-container {display: grid;	grid-template-columns: auto auto auto auto auto auto auto; padding: 5px; grid-gap:20px; }
.item1 {text-align:left!important;}
.item2{ grid-column: 2 / span 5;
     font-family:title;
     font-size:60px; text-align:center; 
     color:#4472C4;
    }
.item4{ grid-column: 2 / span 5; font-family: Calibri; font-size:24px; text-align:center; color:black}
.item7 {grid-row: 2 / span 3;}
.item8{ font-family: Calibri;font-size:18px; text-align:center; color:black;}
.item9{ font-family: Calibri; font-size:18px; text-align:center; color:black;}
.item10{ font-family: Calibri; font-size:18px; text-align:center; color:black;}
.item14 {grid-column: 3 / span 3;}
.item21 {grid-column: 3 / span 3;}
.item28 {grid-column: 3 / span 3;}
.item35 {grid-column: 3 / span 3;}
.item42 {grid-column: 3 / span 3;}
.item49 {grid-column: 3 / span 3;}
#restart{background-color:#4472C4; font-family: Calibri; font-size:18px; color:white; border:none;}
.item49 input{background-color:#4472C4; font-family: Calibri; font-size:18px; color:white; border:none;}
#help {font-size: 20px;}

/* format styles per web page/object */
.lbl {text-align:right!important; width:35%; display: inline-block; padding:10px;font-family: Calibri; font-size:18px;}
.Cities {text-align:left!important; width:50%; display:inline-block; padding:1px;font-family: Calibri; font-size:18px;}
.input { text-align:left!important; width:50%; display:inline-block; padding:10px;font-family: Calibri; font-size:18px;}
.input input { font-family: Calibri; font-size:18px;}
ul {list-style-type:none; text-align:left;font-family: Calibri; font-size:18px;}
img{opacity:1; border-radius:25%; border:3px solid #4472C4;}

/*animations*/
.item8 img:hover {border-radius: 50%;border:10px solid #000308;}
.item10 img:hover {border-radius: 50%;border:10px solid #000308;}
li:hover { color:red;}
li:hover a:hover{ color:red;}

/* error effects */
.red-border{border: 1px solid red;}
.errmsg { position: fixed; top:150px; left:150px; padding:20px; font-size:18px; border: 1px solid red; visibility:visible; background-color: #F6FDA1;border-radius:8px;}
.hidemsg { display:none!important;}

/*font used for header of each page*/
@font-face {
    font-family: title;
    src: url(../Fonts/static/ReemKufiFun-Regular.ttf);
}

/* RWD code used to change grid format */
/* changes only include the logo, header and navigation bar */
@media screen and (max-width: 600px){
    .grid-container {
        display: grid;
        grid-template-areas:  auto auto auto auto auto auto auto;
    }
    .grid-container div{
        height:auto;
        text-align: center;
        background-attachment: fixed;
        background-size: cover;
       /* border: 1px solid black;*/
    }
    .item1{ grid-column: 1 / span 7;text-align:center!important;}
    .item2{ grid-column:  1/ span 7; border: 2px solid black;
            font-family:title;
            font-size:50px; text-align:center; 
            color:#4472C4;
         }
       .item7 {grid-column: 1 / span 7;}
       li{display: inline;}

      
  *{
    background-color: beige;
   
  }
};

