<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/Style1.css">
	<script type="text/javascript" src="../Javascript/bgride.js"></script>
    <title>BGUber</title>
</head>
<body>
    
    <div class="background-image">
        <div class="grid-container">           
			<div class="item1"><img src="../img/Logo.jpg" width="100" height="90"></div>
			<div class="item2">Welcome to BGUber</div>
			<div class="item3"></div>  
			<div class="item4"></div>
			<div class="item5"></div>
			<div class="item6"></div>
			<div class="item7">
				<ul>
					<li><a href="MainPage.html">Home</a></li>
					
				<ul>
			</div>
			<div class="item8"></div>  
			<div class="item9" id="help">Driver:<br>
                <br>
                Email: must be a BGU student email with the correct syntax: "****@post.bgu.ac.il"<br>
                Phone Number: only digits<br>
                Remaining Seats: Digit greater than 0.<br><br>
                
                HitchHitker-New User:<br><br>
                
                Email: must be a BGU student email with the correct syntax: "****@post.bgu.ac.il"<br>
                Phone Number: only digits<br><br>
                
                HitchHiker- Existing User:<br><br>
                
                Email: must be a BGU student email with the correct syntax: "****@post.bgu.ac.il"<br>
                Phone Number: only digits<br>
                Please validate that all information is correct before contacting us.<br><br>
                
                
                In case of issues with the system please contact us at:<br><br>
                
                Adi Shenhav - 0509948383<br>
                Naama Ilany Tzur - 0506967755<br>
            </div>
			<div class="item10"></div>
			<div class="item11"></div>
			<div class="item12"></div>
		</div>
    </div>
	<footer style="position: fixed; bottom: 0; width: 100%;"> Designed by Adi </footer>
</body>

</html>