extends layout 
block content 
    p Welcome to BGUber, the one and only student-to-student ride sharing platform. 
    br
    p Please note the following important details: 
    br
    p Users may only use their BGU emails to access the service. Users information is deleted after 24 hours. Drivers and HitchHikers are matched based on a time limit of 1 hour, 5 km radius, final destination, and available seats in ride.
    p Please contact your ride sharing partner in order to validate ride and payment terms. 