extends layout  
block content 
    div(class="help", id="help") ALL USERS MUST ALLOW LOCATION TO USE SERVICES! 

        br
        br
        p Driver:
        br  
        p Email: must be a BGU student email with the correct syntax: "****@post.bgu.ac.il" 
        p Phone Number: only digits 
        p Remaining Seats: Digit greater than 0.
        br 
        p HitchHitker-New User:
        br
        p Email: must be a BGU student email with the correct syntax: "****@post.bgu.ac.il" 
        p Phone Number: only digits
        br 
        p HitchHiker- Existing User:      
        br 
        p Email: must be a BGU student email with the correct syntax: "****@post.bgu.ac.il"  
        p Phone Number: only digits
        p Please validate that all information is correct before contacting us.
        br 
        p In case of issues with the system please contact us at:  
        p Adi Shenhav - 0509948383  
        p Naama Ilany Tzur - 0506967755

            