extends layout 
block content 
    br
    span(class="item8")
        a(href="signup.pug") 
            img(src="../static/img/signup.png",alt="signup icon" ,width="100px" ,height="90px")  
        p Sign Up
    span(class="item10")
        a(href="signin.pug") 
            img(src="../static/img/signin.png", alt="signin icon", width="100px" ,height="90px") 
        p Log In