extends layout 
block content 
   
    br
    span(class="item8")
        a(href="Driver.pug") 
            img(src="../static/img/driver.png",alt="driver icon" ,width="100px" ,height="90px")  
        p DRIVER
    span(class="item10")
        a(href="hitchhikerp1.pug") 
            img(src="../static/img/hitchhiker.png", alt="hitchhiker icon", width="100px" ,height="90px") 
        p HITCHHIKER
    
        