extends layout 
block content 
    form(name="hsignin" action="/CheckStatus" onsubmit="return validateSignInForm()" method="post")
        
        div(class="lbl") Student Email:
        div(class="input")
            input(id="email" type="email" name="email" placeholder="Your Email")
        div(class="lbl") Phone Number:
        div(class="input")
            input(id="phone" type="tel" name="phone" placeholder="Your phone number")
        
        br
        input(id="chkstatus" type="submit" name="chkstatus" value="Check Status")

    div(id="errbox" class="hidemsg" onclick="this.className='hidemsg'") Test